<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="CallFireClientVersion" value="callfire-api-csharp-1.0.0" />
        <add key="CallFireBasePath" value="https://api.callfire.com/v2" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
                <listeners>
                    <add name="System.Net" />
                </listeners>
            </source>
            <source name="System.Net.Cache">
                <listeners>
                    <add name="System.Net" />
                </listeners>
            </source>
            <source name="System.Net.Http">
                <listeners>
                    <add name="System.Net" />
                </listeners>
            </source>
            <source name="CallfireApiClient" switchName="CallfireApiClient" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="Console" type="System.Diagnostics.ConsoleTraceListener">
                        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
                    </add>
                    <add name="CallfireApiClient" />
                    <!-- <remove name="Default" />-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="System.Net" value="Verbose" />
            <add name="System.Net.Cache" value="Verbose" />
            <add name="System.Net.Http" value="Verbose" />
            <add name="System.Net.Sockets" value="Verbose" />
            <add name="System.Net.WebSockets" value="Verbose" />
            <add name="CallfireApiClient" value="Verbose" />
        </switches>
        <sharedListeners>
            <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" />
            <add name="CallfireApiClient" type="System.Diagnostics.TextWriterTraceListener" initializeData="callfire-api-client.log">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
</configuration>