<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="CallFireBasePath" value="https://api.callfire.com/v2" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="CallfireApiClient" switchValue="Verbose">
                <listeners>
                    <remove name="Default" />
                    <add name="CallfireLogFile" />
                    <add name="Console" />
                </listeners>
            </source>
        </sources>
        <switches>
        </switches>
        <sharedListeners>
            <add name="CallfireLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="callfire-api-client.log" />
            <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" />
        </sharedListeners>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="CallfireLogFile" />
                <add name="Console" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>